
<form action="/tenants/<%=@tenant.id%>" method='post'>
<input type="hidden" name="_method" value="patch"/>

<label>Name:</label>
<input type="text" name="tenant[name]" value="<%=@tenant.name%>"/><br/>

<label>Apartment address:</label>
<select name="tenant[apartment_id]">
<% @apartments.each do |apartment| %>
    <option value=<%=apartment.id%> selected> <%=apartment.address%> </option>
<%end%>
</select><br>

<label>New apartment address:</label>
<input type="text" name="apartment[address]"/><br>

<input type="submit"/>

</form>

